<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_index.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>button_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,657},{173,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,129}}</string>
                <key>sourceSize</key>
                <string>{173,129}</string>
            </dict>
            <key>button_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,788},{173,121}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{173,121}}</string>
                <key>sourceSize</key>
                <string>{173,129}</string>
            </dict>
            <key>rope.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,2},{226,503}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,503}}</string>
                <key>sourceSize</key>
                <string>{226,503}</string>
            </dict>
            <key>ropeCow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{204,653}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,653}}</string>
                <key>sourceSize</key>
                <string>{204,653}</string>
            </dict>
            <key>ropeCow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{204,653}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,653}}</string>
                <key>sourceSize</key>
                <string>{204,653}</string>
            </dict>
            <key>ropeCow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{204,653}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,653}}</string>
                <key>sourceSize</key>
                <string>{204,653}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>test.png</string>
            <key>size</key>
            <string>{1490,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e316476337f03a44df5c524b38e2b557$</string>
            <key>textureFileName</key>
            <string>test.png</string>
        </dict>
    </dict>
</plist>
